@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*Headers*/
$headerLvl2 : steelblue;
$headerLvl3 : darkslategray;
/*Work*/
$workExperienceBorder : lightgray;
/*Project*/
$projectAsideBg : gray;
$projectAsideFont : white;
/*Buttons*/
$btnBg : darkblue;
$btnBgHover : steelblue;
/*Footer*/
$footerBg : darkblue;
/*NavMenu*/
$navMenuBg : rgba(100,100,100,.5);
$navMenuFont : whitesmoke;
$navMenuHover : steelblue;

$fontFamily : 'Montserrat', sans-serif;

$defaultMobileSize : 300px;